<a href="https://colab.research.google.com/github/Fathima92/Batch23_Programming/blob/main/01_Programming.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
sum = None
print(sum)
a = 10
b = 20
sum = a + b
print(sum)

None
30

In [3]:
a = b= c = 1
print(a,b,c)

1 1 1

In [ ]:
a,b = 1,2
print(a,b)   # 1 2

a,b = b,a
print(a,b)  # 2 1

In [ ]:
print("Hello, World!") # Hello, World!
name = "Alice"
age = 25
print("Name:", name) # Name: Alice
print("Age:", age)

name = "Bob"
score = 92
print(f"{name} scored {score} in the exam.") # f-string
# Bob scored 92 in the exam.

language = "Python"
version = 3.9
print("I am learning {} version {}".format(language, version))
print("I am learning {1} version {0}".format(language, version)) # positional formatting

a = 10
b = 20
print("The values of a and b are", a, "and", b)

print("apple", "banana", "cherry", sep=", ")

print("This is line 1", end=" ")
print("and this is line 2")

print("Hello\nWorld")  # New line
print("Hello\tWorld")  # Tab
print("Backslash: \\")  # Prints a backslash

fruits = ["apple", "banana", "cherry"]
print(fruits)

print("This is line 1", end="")
print("This is line 2")

In [ ]:
name = "Bob"
score = 92
print(f"{0} scored {1} in the exam.",name,score)

0 scored 1 in the exam. Bob 92

In [ ]:
name = input("Enter your name: ")
print("Hello, " + name + "!")

Enter your name: sajee
Hello, sajee!

In [ ]:
age = int(input("Enter your age: "))
print(f"You are {age} years old.")

height = float(input("Enter your height in meters: "))
print(f"Your height is {height} meters.")

x, y = input("Enter two numbers separated by space: ").split()
print(f"First number: {x}, Second number: {y}")

a, b = map(int, input("Enter two integers: ").split())
print(f"Sum of {a} and {b} is {a + b}")

city = input("Which city do you live in? ")
print(f"Nice! {city} sounds like a great place.")

name = input("Enter your name (or press enter to use 'Guest'): ") or "Guest"
print(f"Hello, {name}!")

Enter your age: 18
You are 18 years old.
Enter your height in meters: 56
Your height is 56.0 meters.

In [ ]:
import numpy as np
np_array = np.zeros((2,3))
np_array[0][0] = 1
np_array[1][2] = 5

print(np.mean(np_array))
print(np.min(np_array))
print(np.max(np_array))
print(np.sum(np_array))

1.0
0.0
5.0
6.0

In [ ]:
# Generate numbers from 0 to 4
for i in range(5):
    print(i)
# Generate numbers from 2 to 5
for i in range(2, 6):
    print(i)
# Generate numbers from 0 to 9 with a step of 2
for i in range(0, 10, 2):
    print(i)
# Generate numbers from 5 to 1 with a step of -1
for i in range(5, 0, -1):
    print(i)

numbers = list(range(3))  # [0, 1, 2]
print(numbers)

0
1
2
3
4
2
3
4
5
0
2
4
6
8
5
4
3
2
1
[0, 1, 2]

In [ ]:

student_grades = {
    "Alice": 90,
    "Bob": 85,
    "Charlie": 92
}


print(student_grades["Alice"])
print(student_grades["Bob"])

student_grades["David"] = 88
student_grades["Alice"] = 95

del student_grades["Bob"]
print(student_grades)


for student in student_grades:
    print(student)

for grade in student_grades.values():
    print(grade)

for student, grade in student_grades.items():
    print(f"{student}: {grade}")

90
85
{'Alice': 95, 'Charlie': 92, 'David': 88}
Alice
Charlie
David
95
92
88
Alice: 95
Charlie: 92
David: 88

In [ ]:
x = 10
if x > 5:
    print("x is greater than 5")

x = 3
if x > 5:
    print("x is greater than 5")
else:
    print("x is less than or equal to 5")

x = 7
if x > 10:
    print("x is greater than 10")
elif x == 7:
    print("x is equal to 7")
else:
    print("x is less than 10 and not equal to 7")

x = 12
if x > 10:
    if x % 2 == 0:
        print("x is greater than 10 and even")
    else:
        print("x is greater than 10 and odd")
else:
    print("x is less than or equal to 10")

x = 20
result = "Even" if x % 2 == 0 else "Odd"
print(result)


age = 25
if age >= 18 and age <= 65:
    print("You are an adult.")
else:
    print("You are either too young or too old.")

x = -5
if x < 0 or x > 100:
    print("x is out of range")
else:
    print("x is within range")


fruits = ["apple", "banana", "cherry"]
if "apple" in fruits:
    print("Apple is in the list")

name = "Alice"
if "A" in name:
    print("The name contains the letter 'A'")

is_sunny = True
if is_sunny:
    print("It's a sunny day!")
else:
    print("It's not sunny today.")


age = 30
valid_ages = [18, 25, 30, 35]

if age in valid_ages and age >= 18:
    print("Age is valid and adult")
else:
    print("Age is either not valid or under 18")


x = 10
if x > 5:
    pass  # This block does nothing
else:
    print("x is less than or equal to 5")


coordinates = (10, 20)

if (x, y := coordinates) == (10, 20):
    print(f"x is {x}, y is {y}")

In [ ]:
import tkinter as tk
from tkinter import messagebox

def submit_form():
    name = name_entry.get()
    email = email_entry.get()
    age = age_entry.get()

    if not name or not email or not age:
        messagebox.showwarning("Input Error", "Please fill in all fields")
        return

    # Process the data (e.g., save to a database, file, etc.)
    # For now, we'll just display a confirmation message
    messagebox.showinfo("Form Submitted", f"Name: {name}\nEmail: {email}\nAge: {age}")

# Create the main window
root = tk.Tk()
root.title("User Information Form")

# Create and place the labels and entry widgets
tk.Label(root, text="Name:").grid(row=0, column=0, padx=10, pady=10, sticky="e")
name_entry = tk.Entry(root)
name_entry.grid(row=0, column=1, padx=10, pady=10)

tk.Label(root, text="Email:").grid(row=1, column=0, padx=10, pady=10, sticky="e")
email_entry = tk.Entry(root)
email_entry.grid(row=1, column=1, padx=10, pady=10)

tk.Label(root, text="Age:").grid(row=2, column=0, padx=10, pady=10, sticky="e")
age_entry = tk.Entry(root)
age_entry.grid(row=2, column=1, padx=10, pady=10)

# Create and place the submit button
submit_button = tk.Button(root, text="Submit", command=submit_form)
submit_button.grid(row=3, column=0, columnspan=2, pady=10)

# Run the application
root.mainloop()

TclError: no display name and no $DISPLAY environment variable

In [ ]:

year = 2024
leap_year = (year % 4 == 0 and (year % 100 != 0 or year % 400 == 0))
print(f"Year {year} is a leap year: {leap_year}")

In [ ]:

char = input("Enter a character: ")


if len(char) != 1:
    print("Please enter only one character.")
else:
    # Get the ASCII value of the character
    ascii_value = ord(char)

    if (65 <= ascii_value <= 90) or (97 <= ascii_value <= 122):
        print(f"The character '{char}' is an alphabet.")
    else:
        print(f"The character '{char}' is not an alphabet.")